<%- include('./partials/head')%>
<%- include('./partials/nav')%>

<% for (let user of users) { %>
    <div>
        <p>First Name: <%= user.fname %></p>
        <p>Last Name: <%= user.lname %></p>
        <p>Username: <%= user.username %></p>
        <p>Password: <%= user.password %></p>
        <p>Email: <%= user.email %></p>
        <p>Phone: <%= user.phone %></p>
        <p>Address: <%= user.address %></p>
        <p>Store Name: <%= user.sname %></p>
    </div>
<% } %>


<%- include('./partials/footer')%>